@{
    ViewData["Title"] = "Home Page";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Categories</h3>
        <a href="/Category/CreateOrEdit" class="btn btn-primary">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody>

                    <tr>
                        <td>
                            <a class="name">Teste</a>
                        </td>
                        <td>
                            <a href="" class="btn">Edit</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a class="name">Teste 2</a>
                        </td>
                        <td>
                            <a href="" class="btn">Edit</a>
                        </td>
                    </tr>                                    
                @* @foreach(var viewModel in @Model)
                {
                    <tr>
                        <td>
                            <a class="name">@viewModel.Name</a>
                        </td>
                        <td>
                            <a href="/Category/CreateOrEdit/@viewModel.Id" class="btn">Edit</a>
                        </td>
                    </tr>
                } *@
            </tbody>
        </table>
    </div>
</div>